*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}



.travel-box{
    width: 31%;
    float: left;
    margin: 15px 1.1%;
    

}

.travel h3{
    color: #9a9a9a;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 2px;
    font-weight: normal;
    font-family:'Poppins', sans-serif;
}

.travel h2{
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 0px;
    font-family:'Poppins', sans-serif;
    padding: 25px;
    color: #555555;
}

.travel-box img{
    width: 80%;
    vertical-align: bottom;
    overflow: hidden;
}

.travel-photo{
    position: relative;
}

.travel-photo h3{
    position: absolute;
    bottom: 0;
    left: 15%;
    top: 80%;
    color: white;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    font-family:'Poppins', sans-serif ;
}

.travel-photo h6{
    position: absolute;
    bottom: 0;
    left: 15%;
    top: 90%;
    color: white;
    font-weight: normal;
    letter-spacing: 2px;
    font-size: 13px;
    line-height: 13px;
    font-family:'Poppins', sans-serif ;
}



.travel{
    text-align: center;
    padding: 3rem 0;
}




